
/* =============
   Widgets
============= */
.widget-chart-1{
  .widget-chart-box-1 {
    float: left;
  }
  .widget-detail-1 {
    text-align: right;
    margin-left: 80px;
    min-height: 77px;
  }
} 
.widget-box-2 {
  
  .widget-detail-2 {
    text-align: right;
  }
  
  .widget-detail-2 .badge {
    padding: 5px 10px;
  }
}
.widget-user {
  min-height: 112px;
  
  img {
    height: 72px;
    float: left;
  }
  .wid-u-info {
    margin-left: 90px;
  }
  & .wid-u-info p,
  & .wid-u-info h4 {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* Inbox-widget */
.inbox-widget{ 
  .inbox-item {
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    
    .inbox-item-img {
      display: block;
      float: left;
      margin-right: 15px;
      width: 40px;
    }
    img {
      width: 40px;
    }
    .inbox-item-author {
      color: #333333;
      display: block;
      margin: 0;
    }
    .inbox-item-text {
      color: #98a6ad;
      display: block;
      font-size: 12px;
      margin: 0;
    }
    .inbox-item-date {
      color: #98a6ad;
      font-size: 11px;
      position: absolute;
      right: 7px;
      top: 2px;
    }
  }
}