.logo{	
	color: #ffffff !important;
	font-size: 32px;
	margin-top: 8px;
	font-family: 'Ubuntu', sans-serif;
	float: left;

	span span{

		color: #10c469 !important;
	}
}

#topnav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	background-color: transparent;
	border: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	min-height: 62px;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);

	.topbar-main {
		background-color: @panel-custom-heading-bg;

		.nav > li > a {
			color: #ffffff !important;
			line-height: 60px;
			padding: 0px 15px;
			position: relative;
			background: transparent !important;
		}

		.navbar-nav {
			margin: 0px;
		}

		.profile img {
			border: 2px solid #edf0f0;
			height: 45px;
			width: 45px;
		}
	}	
}