<script type="text/x-template" id="abilities">
	<div class="{{ class }}">
		<a href="javascript:void(0)" class="close-btn" @click="onClose()"></a>
		<div class="container">
			<h2 class="c-section-title c-text text-center"><span class="color-symbol">{</span>{{title}}<span class="color-symbol">}</span></h2>
			<div class="divider"></div>
			<div class="row">
				<div class="scroll-container">	
					<div class="col-xs-12 col-sm-6"></div>
					<div class="col-xs-12 col-sm-6"></div>
				</div>
			</div>
		</div>
	</div>
</script>