<script type="text/x-template" id="jumbotron">
	<div class="jumbotron" v-bind:style="{ height: height + 'px' }">
		<div class="row">
			<div class="container">
				<div class="bottom-line" v-bind:style="lineStyle">

					<div class="photo"></div>

					<div class="title-text">
						<h1 class="h-title">{{ message }}</h1>
					</div>

					<ul class="button-group" v-bind:style="absoluteContainerStyle">
						<li>
							<cusbutton icon="user">Profile</cusbutton>
						</li>
						<li>
							<cusbutton icon="equalizer">Abilities</cusbutton>
						</li>
						<li>
							<cusbutton icon="eye-open">Projects</cusbutton>
						</li>
						<li>
							<cusbutton icon="search">Contact</cusbutton>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>