<script type="text/x-template" id="main">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="main-window">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores eaque explicabo eligendi sit, provident suscipit optio harum pariatur qui ad eius, laudantium sint distinctio minima, consectetur vero amet cupiditate.</p>
				</div>
			</div>
		</div>
		<div>
			<div class="button-top" @click="onOpen('top')">Profile</div>
			<div class="button-bottom" @click="onOpen('bottom')">Contacts</div>
			<div class="button-left" @click="onOpen('left')"></div>
			<div class="button-right" @click="onOpen('right')"></div>
		</div>
	</div>
</script>