<script type="text/x-template" id="profile">
	<div class="container">
		<h2 class="c-section-title c-text text-center">Profile</h2>
		<div class="divider"></div>
		<div class="row">
			<div class="col-sm-4">
				<h3 class="c-text">About me</h3>
				<p class="c-text">My name is Azat and I'm a web developer. The main stack used on the web is JS, CSS, HTML (front-end), and PHP (back-end). Have is experience of working out on Java under Android, on JS under NodeJS. In my spare time I study C / C ++, Android NDK, operating systems, algorithms, design patterns and their application.</p>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<h3 class="c-text">Details</h3>
				<ul class="c-detail-list">
					<li>
						<div class="c-detail-title">Name:</div>
						<div class="c-detail-describe">Kazaev Azat</div>
					</li>
					<li>
						<div class="c-detail-title">Age:</div>
						<div class="c-detail-describe">24</div>
					</li>
					<li>
						<div class="c-detail-title">Location:</div>
						<div class="c-detail-describe">Russian, Saint-Petersburg</div>
					</li>
					<li>
						<div class="c-detail-title"></div>
						<div class="c-detail-describe"></div>
					</li>
					<li>
						<div class="c-detail-title"></div>
						<div class="c-detail-describe"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>