<script type="text/x-template" id="projects">
	<div class="{{ class }}">
		<a href="javascript:void(0)" class="close-btn" @click="onClose()"></a>
		<div class="container">
			<h2 class="c-section-title c-text text-center">Projects</h2>
			<div class="divider"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img class="img-responsive img-thumbnail" src="http://carsopict.com/images/posters/koenigsegg-ccx-1.jpg" alt="">
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel title</h3>
						</div>
						<div class="panel-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, ducimus. Aliquid quam voluptas nam necessitatibus quos repudiandae fugiat adipisci inventore laudantium unde sequi, maxime vero consequuntur, assumenda reiciendis animi. Itaque!
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus officia voluptas odio incidunt architecto, exercitationem dicta placeat impedit laudantium vitae quos, ratione reprehenderit, dolore. Delectus quaerat dolorem necessitatibus consequuntur omnis!</div>
							<div>Esse praesentium quidem, illum? Quidem, tenetur! Architecto voluptatem quibusdam, pariatur nemo quia ipsum velit quam magni amet officiis quo consequuntur explicabo vel atque mollitia? Minima dolore dicta blanditiis, iusto sint.</div>
							<div>Nam nisi saepe adipisci veritatis praesentium, mollitia, et necessitatibus. Nobis suscipit, porro quidem culpa placeat quasi, ut consequatur laborum eaque repellendus id, illum, doloribus facere. Temporibus sequi laboriosam recusandae ad.</div>
							<div>Animi aspernatur quidem cupiditate reprehenderit beatae enim deleniti nobis aut porro dignissimos, quis harum, libero omnis tempore voluptates non, quam voluptatibus eum. Libero vitae delectus ipsam, architecto alias laborum recusandae!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>